[package]
name = "tinycloud-lib"
version = "0.2.0"
edition = "2021"

[dependencies]
async-trait.workspace = true
iri-string.workspace = true
libipld.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
thiserror.workspace = true
base64.workspace = true
time.workspace = true
cacaos = { path = "../cacao" }
siwe-recap = { path = "../siwe-recap" }
lazy_static = "1.4"

[target.'cfg(target_arch = "wasm32")'.dependencies]
uuid = { version = "1", features = ["v4", "js"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
uuid = { version = "1", features = ["v4"] }

[dependencies.ssi]
git = "https://github.com/spruceid/ssi.git"
rev = "82b0bf3"
features = ["ethereum"]

[dev-dependencies]
tokio.workspace = true
