[package]
name = "tinycloud-lib"
version = "0.2.0"
edition = "2021"

[dependencies]
async-trait.workspace = true
iri-string.workspace = true
libipld.workspace = true
serde.workspace = true
serde_json.workspace = true
serde_with.workspace = true
thiserror.workspace = true
base64.workspace = true
cacaos = { path = "../cacao" }
siwe-recap = { path = "../siwe-recap" }
lazy_static = "1.4"
did-method-key = { default-features = false, version = "0.3.1" }
did-tz = { default-features = false, version = "0.3.1" }
did-ethr = { default-features = false, version = "0.3.1" }
did-pkh = { version = "0.3.1" }
did-web = { default-features = false, version = "0.3.3" }
did-ion = { default-features = false, version = "0.3.1" }
[target.'cfg(target_arch = "wasm32")'.dependencies]
uuid = { version = "1", features = ["v4", "js"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
uuid = { version = "1", features = ["v4"] }

[dependencies.ssi]
version = "0.10.2"
default-features = false
features = ["ed25519", "rsa", "secp256k1"]

[dev-dependencies]
tokio.workspace = true
